language: node_js
node_js:
  - "0"
  - "1"
  - "2"
  - "3"
  - "4"
  - "5"
  - "6"
  - "7"
  - "8"

matrix:
  allow_failures:
  - node_js: "8"
  - env: NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly
